<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
    <title>BridgeBorders | Admin Dashboard</title>
    <meta name="description" content="Study Abroad Consultation 
        Cheapest Flight Rates 
        Tailor Made Travel Services" />
</head>

<body>
    <div class="admin-dashboard flex flex-col justify-evenly md:flex-row">
        <!-- Modal Data Section -->
        <div class="form-section form1 flex items-center md:ml-5 justify-center h-screen">
            <div class="formContainer rounded-lg shadow-2xl py-4 px-5 bg-lighterColor w-full max-w-md">
                <h1 class="text-deeperColor text-center font-bold mt-4 mb-4 text-3xl md:text-4xl">Modal Data</h1>

                <form class="mx-auto">
                    <input type="hidden" name="id" id="id">
                    <div class="mb-4">
                        <label for="title" class="block text-gray-600 text-sm font-semibold mb-2">Title:</label>
                        <input type="text" id="title" name="title" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-deeperColor">
                    </div>
        
                    <div class="mb-4">
                        <label for="description" class="block text-gray-600 text-sm font-semibold mb-2">Description:</label>
                        <textarea id="description" name="description" class="w-full px-4 py-2 border rounded-md resize-none focus:outline-none focus:border-deeperColor"></textarea>
                    </div>
    
                    <div class="mb-4">
                        <label for="description" class="block text-gray-600 text-sm font-semibold mb-2">Image Direct Link:</label>
                        <textarea id="imageUrl" name="imageUrl" class="w-full px-4 py-2 border rounded-md resize-none focus:outline-none focus:border-deeperColor"></textarea>
                    </div>
        
                    <button type="submit" class="w-full bg-deeperColor text-white py-2 px-4 rounded-md hover:bg-lighterColor transition duration-300">Submit</button>
                </form>
            </div>
        </div>

        <!-- Gallery Image Links Section -->
        <div class="form-section form2 flex md:mr-5 items-center h-screen">
            <div class="formContainer rounded-lg shadow-2xl py-4 px-5 bg-lighterColor w-full max-w-md">
                <h1 class="text-deeperColor text-center font-bold mt-4 mb-4 text-3xl md:text-4xl">Gallery Image Links</h1>

                <form class="mx-auto" id="galleryForm">
                    <!-- Gallery Image Links Form Fields -->
                    <input type="hidden" name="galleryId" id="galleryId">

                    <div class="mb-4">
                        <label for="galleryTitle" class="block text-gray-600 text-sm font-semibold mb-2">Title:</label>
                        <input type="text" id="galleryTitle" name="galleryTitle" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-deeperColor">
                    </div>

                    <div class="mb-4">
                        <label for="galleryImageUrl" class="block text-gray-600 text-sm font-semibold mb-2">Image Direct Link:</label>
                        <textarea id="galleryImageUrl" name="galleryImageUrl" class="w-full px-4 py-2 border rounded-md resize-none focus:outline-none focus:border-deeperColor"></textarea>
                    </div>

                    <button type="submit" class="w-full bg-deeperColor text-white py-2 px-4 rounded-md hover:bg-lighterColor transition duration-300">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery-3.6.0.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>


<!-- <video autoplay muted loop poster="video-poster.jpg" id="background-video">
    <source src="../assets/images/bridgeVideo.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> -->